body {
  text-align: center;
  background-color: #f0dfb1;
}

li {
  display: inline;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

a {
  color: orange;
}

img {
  border: 1px solid #efefef;
  border-radius: 15px;
  max-width: 70%;
}
